<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<style type="text/css">
	.title_box { 
	    border: #3c5a86 1px dotted; 
	}
	
	.title_box #title { 
	    position: relative; 
	    top : -0.5em;
	    margin-left: 1em;
	    display: inline; 
	    background-color: white; 
	}
	
	.title_box #content {
	}
</style>
</head>
<body>
<div class="title_box" id="bill_to">
    <div id="title">Bill To</div>
    <div id="content">
        Stuff goes here.<br>
        For example, a bill-to address
    </div>
</div>
</body>
</html>